doctype html
html(lang="es")
  head
    title Template Pug
      link(href="main.css")
    body
      h1#encabezado #{title}
      p.centrar Ingresa tu información
      input(type="text", placeholder="ingresa tu nombre")
